body{
	font-family: segoe ui;
	font-size: 14px;
	color: #333;
}
header{
	background-color: rgba(13,70,83,0.78);
	padding: 20px 0;
}

#sec-intro{
    background-image: url(../img/bg-banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}
.bg-intro{
	padding: 100px 0;
	min-height: 500px;
	background-color: rgba(13,70,83,0.78);
}
#sec-intro h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
}
#sec-intro p{
	font-size: 18px;
	
}
.btn-medilab,
.btn-medilab:hover{
	background-color: #0CB8B6;
	margin-top: 30px;
}
#sec-service{
	padding: 40px 0px;
}
#sec-service h2{
	color: #000;
	text-transform: uppercase;
}
#sec-service p{
color: #999;
}

#sec-service h3{
	color: #000;
	font-size: 18px;
	font-weight: 600;
}

.icono {
	width: 60px;
	height: 60px;
	line-height: 60px;
	background-color: #0cb8b6;
	color: #fff;
	display: block;
	text-align: center;
	font-size: 22px;
	font-weight: 600px;
	border-radius: 100%;
	border: 3px solid #068887;
	transition: all 0.5s ease-out;
}
.icono:hover{
	background-color: #068887;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

#sec-marthavaliente p{
	color: #FFFFFF;
}

#sec-marthavaliente h4{
	color: #FFFFFF;
}

